<section class="container">
  <article class="row p-4 d-flex justify-content-center">
    <section class="col-5 card bg-success text-white">
      <section class="card-header">
        <h3 class="text-center">Presentacion de mi Proyecto</h3>
      </section>

      <article class="card-body d-flex text-center flex-column">
        <article class="card-subtitle mt-3"><h2>Nombre</h2></article>
        <p class="card-text">Jairo Rodrigo Manchay Perez</p>

        <article class="card-subtitle mt-3"><h2>Curso</h2></article>
        <p class="card-text">Desarrollo Web - Front End</p>

        <article class="card-subtitle mt-3"><h2>Aula - Turno</h2></article>
        <p class="card-text">J02 - TM</p>

      </article>

      <article class="card-footer">
        <img src="./assets/img/certus2.png" alt="" class="card-img-bottom">
      </article>
    </section>

  </article>
</section>
